@model List<MagazinAuto.Models.MasinaView>

@{
    ViewData["Title"] = "ViewCars";
}

<h1>ViewCars</h1>

<div>
    <h4>MasinaView</h4>
    <hr />

    @foreach (var car in Model)
    {

        <img src="data:image/png;base64, @System.Convert.ToBase64String(car.Poza)" width="80" height="80" />

        <div class="row">
            <span>@($"{nameof(car.Model)} : {car.Model}")</span><br />
            <span>@($"{nameof(car.Marca)} : {car.Marca}")</span><br />
            <span>@($"{nameof(car.Cutie)} : {car.Cutie}")</span><br />
            <span>@($"{nameof(car.Transmisie)} : {car.Transmisie}")</span><br />
            <span>@($"{nameof(car.Combustibil)} : {car.Combustibil}")</span><br />
        </div>
    }

</div>
